<template>
  <div 
    class="toast-item" 
    :class="data.type"
    @click="handleRemove"
  >
    {{ data.text }}
  </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import { useToastStore } from '../../stores/toast';

const store = useToastStore();
interface Props {
  data: YMessage
}

const { data } = defineProps<Props>();

function handleRemove() {
  store.removeMessage(data.id as string);
}

const time = computed(() => data.time ?? 3000);
setTimeout(() => {
  store.removeMessage(data.id as string);
}, time.value);

</script>

<style lang="less" scoped>
.toast-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .9rem;
  padding: 10px 8px;
  margin-bottom: 1rem;
  line-height: 1;
  min-width: 150px;
  max-width: 250px;
  border-radius: 10px;
  text-align: center;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, .8);
  border: 1px solid rgba(0 0 0 / .1);
  color: #555;
  box-shadow: 0 5px 5px rgba(0 0 0 / .05);
  cursor: pointer;
}
</style>