<template>
  <Teleport :to="to">
    <div id="YToast">
      <TransitionGroup name="YToast">
        <template v-for="v in messages.slice(0, max)" :key="v.id">
          <ToastItem :data="v"/>
        </template>
      </TransitionGroup>
    </div>
  </Teleport>
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import ToastItem from './ToastItem.vue';
import { useToastStore } from '../../stores/toast';

const store = useToastStore();

const messages = computed(() => store.$state.messages);

interface Props {
  to?: string, // 放在哪个位置
  max?: number, // 最大显示数量
}

const { to, max } = withDefaults(defineProps<Props>(), {
  to: '#app',
  max: 3
});

</script>

<style lang="less" scoped>
#YToast {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 20px;
  left: 10px;
  right: 10px;
  z-index: 9999;

  .YToast-enter-active,
  .YToast-leave-active {
    transition: all 0.5s ease;
  }
  .YToast-enter-from {
    opacity: 0;
    transform: translateY(-30px);
  }
  .YToast-leave-to {
    opacity: 0;
    transform: translateY(30px);
  }
}
</style>