<template>
    <div
        class="cover"
        :class="{'no-image': !hasImage}"
        :style="`--width: ${(typeof props.width == 'string') ? props.width : props.width + 'px'}`"
    >
        <img v-if="hasImage" :src="props.url" :alt="props.song" />
        <div class="span" v-if="!hasImage"></div>
        <slot></slot>
    </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue';

interface Props {
    song: string,
    url?: string,
    width?: number | string
}
const props = withDefaults(defineProps<Props>(), {
    url: undefined,
    width: 48
})

// 是否在 prop 中传递了 url
const hasImage = computed(() => props.url ? true : false)

</script>

<style lang="less" scoped>
.cover {
    position: relative;
    display: flex;
    width: var(--width);
    height: var(--width);
    transition: all .3s ease-in-out;
    z-index: 1;
    
    img, .span {
        width: 100vw;
        max-width: 100%;
        border-radius: 10px;
    }
    .span {
        position: relative;
        background-color: #eee;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            background-color: #ddd;
            width: var(--width);
            height: var(--width);
            top: calc(var(--width) / 2);
            left: calc(var(--width) / 2);
            border-radius: 50%;
            transition: all .3s ease-in-out;
        }
    }
}
</style>