<template>
    <div class="item" @click="handleChangeSong">
        <Cover :song="props.name" :url="album">
            <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64z m144.1 454.9L437.7 677.8c-1.4 1-3 1.5-4.7 1.5-4.4 0-8-3.6-8-8V353.7c0-1.7 0.5-3.3 1.5-4.7 2.6-3.6 7.6-4.4 11.2-1.8L656.1 506c0.7 0.5 1.3 1.1 1.8 1.8 2.6 3.5 1.8 8.5-1.8 11.1z"></path></svg>
        </Cover>
        <div class="item-info">
            <span class="item-name">{{ props.name }}</span>
            <span class="item-singer">{{ props.singer }}</span>
        </div>
    </div>
</template>

<script lang="ts" setup>
import { nextTick } from 'vue';
import { usePlayerStore } from '../stores/player';
import Cover from './Cover.vue';

interface Props {
    name: string,
    singer: string,
    album: string,
    id: string
}
const props = defineProps<Props>();
const emits = defineEmits(['action-set-rand', 'action-list-hide', 'action-handle-play']);

const store = usePlayerStore();

function handleChangeSong() {
    if (store.playing == 'playing') {
        nextTick(() => {
            emits('action-handle-play');
        });
    }
    store.playById(props.id);
    emits('action-list-hide');
}

</script>

<style lang="less" scoped>
.item {
    display: flex;
    align-items: center;
    padding: .5rem .8rem;
    cursor: pointer;
    background-color: rgb(255 255 255);
    transition: background-color .3s ease-in-out;
    
    &:hover {
        background-color: rgba(0 0 0 / .1);

        .icon {
            opacity: 1;
        }
    }
    .item-info {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        margin-left: 1rem;

        .item-name {
            white-space: nowrap;
            font-size: 1.2rem;
            font-weight: bold;
            color: #000;
            max-width: 100%;
            overflow: hidden;
            line-height: 1.4;
        }
        .item-singer {
            font-size: .8rem;
            color: #666;
            line-height: 1.2;
        }
    }
    .icon {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 32px;
        color: #fff;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }
}
</style>