<template>
    <div id="list" :class="{show: props.show}" @click.self="handleCloseList">
        <div class="list-container">
            <div class="list-control">
                <button class="list-control-button">随机</button>
                <button class="list-control-button" @click="handleSetNull">清空</button>
            </div>
            <div class="list">
                <template v-for="item in m_list" :key="item.id">
                    <Item
                        :name="item.name"
                        :album="item.album"
                        :singer="item.singer"
                        :id="`${item.id as string}`"
                        @action-list-hide="handleCloseList"
                        @action-handle-play="handlePlay"
                    />
                </template>
            </div>
        </div>
    </div>
</template>

<script lang="ts" setup>
import Item from './Item.vue';

const props = defineProps(['list', 'show']);
const emits = defineEmits(['action-list-hide', 'action-handle-play']);
const m_list = props.list as SongList;

function handleSetNull() {
    handleCloseList();
}
function handleCloseList() {
    emits('action-list-hide');
}
function handlePlay() {
    emits('action-handle-play');
}

</script>

<style lang="less" scoped>
#list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    pointer-events: none;
    transition: background-color .3s ease-in-out;
    z-index: 100;

    .list-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;
        right: 0;
        bottom: 0;
        left: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: #fff;
        overflow: hidden;
        transition: top .3s ease-in-out;
    }
    &.show {
        background-color: rgba(0 0 0 / .1);
        pointer-events: all;
        backdrop-filter: blur(10px);
        .list-container {
            top: 30%;
        }
    }
}

.list-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 .5rem;
    padding: 0 .8rem;

    &-button {
        background-color: transparent;
        outline: 0;
        border: none;
        border-radius: 3px;
        padding: 3px;
        color: #333;
        line-height: 1;
        cursor: pointer;

        &:hover {
            background-color: rgba(0 0 0 / .1);
        }
    }
}
.list {
    flex: 1 1 auto;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(225, 225, 225, 0.7);
        outline: 0;
        border-radius: 2px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: none;
        border-radius: 2px;
    }
}
</style>