<template>
  <div class="control" :style="`--themeColor: rgb(${themeColor[0]}, ${themeColor[1]}, ${themeColor[2]});`">
    <div class="progress">
      <div class="progress-body" @click.self="handleChangeTime" ref="progress">
        <span class="progress-dot"></span>
      </div>
      <div class="progress-time">
        <div class="start">{{ itime.start }}</div>
        <div class="end">{{ itime.end }}</div>
      </div>
    </div>
    <button class="switch" @click="handlePrev">
      <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M814.976 222.304c-10.432-5.504-23.168-4.832-32.96 1.824L576 364.288 576 250.592c0-11.872-6.56-22.72-17.024-28.288-10.432-5.504-23.168-4.832-32.96 1.824l-384 261.248C133.248 491.328 128 501.248 128 511.84s5.248 20.512 14.016 26.464l384 261.376c5.408 3.68 11.68 5.568 17.984 5.568 5.12 0 10.272-1.216 14.976-3.712C569.44 796 576 785.088 576 773.248l0-113.792 206.016 140.224c5.408 3.68 11.68 5.568 17.984 5.568 5.12 0 10.272-1.216 14.976-3.712C825.44 796 832 785.088 832 773.248L832 250.592C832 238.72 825.44 227.872 814.976 222.304z"></path></svg>
    </button>
    <button class="play" @click="handlePlayOrPause">
      <svg class="icon" v-show="!isPlaying" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M817.088 484.96l-512-323.744C295.232 154.976 282.752 154.592 272.576 160.224 262.336 165.856 256 176.608 256 188.256l0 647.328c0 11.648 6.336 22.4 16.576 28.032 4.8 2.656 10.112 3.968 15.424 3.968 5.952 0 11.904-1.664 17.088-4.928l512-323.616C826.368 533.184 832 522.976 832 512 832 501.024 826.368 490.816 817.088 484.96z"></path></svg>
      <svg class="icon" v-show="isPlaying" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M352 768c-17.664 0-32-14.304-32-32L320 288c0-17.664 14.336-32 32-32s32 14.336 32 32l0 448C384 753.696 369.664 768 352 768z"></path><path d="M672 768c-17.696 0-32-14.304-32-32L640 288c0-17.664 14.304-32 32-32s32 14.336 32 32l0 448C704 753.696 689.696 768 672 768z"></path></svg>
    </button>
    <button class="switch" @click="handleNext">
      <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M881.984 485.536l-384-261.408A32.032 32.032 0 0 0 448 250.592v113.792L241.984 224.128A32.032 32.032 0 0 0 192 250.592v522.656a32.032 32.032 0 0 0 49.984 26.464L448 659.552v113.696a32.032 32.032 0 0 0 49.984 26.464l384-261.28a31.904 31.904 0 0 0 0-52.896z"></path></svg>
    </button>
  </div>
</template>

<script lang="ts" setup>
import { usePlayerStore } from '../stores/player';
import { calcTime } from '../modules/calcTime';
import { computed, ref } from 'vue';

interface Props {
  time: {
    start: number,
    end: number
  },
  themeColor: number[],
  isPlaying: boolean,
  mp3Canplay: boolean,
}
const props = defineProps<Props>();
const emits = defineEmits(['action-handle-play', 'action-handle-pause', 'action-handle-change-time']);

const itime = computed(() => {
  return {
    start: calcTime(props.time.start),
    end: calcTime(props.time.end)
  }
});

const currentTime = computed(() => {
  return props.time.start / <any>props.time.end.toFixed(3) * 100 + '%'
});

const store = usePlayerStore();

// 播放暂停
function handlePlayOrPause() {
  if (props.isPlaying) {
  emits('action-handle-pause');
  } else {
  emits('action-handle-play');
  }
}

// 上下一首
function handlePrevNextBind(fn: Function) {
  fn.call({})
  if (!props.isPlaying) {
    store.setPlayerState('stop');
  }
}
// 上一首
function handlePrev() {
  handlePrevNextBind(store.playPrev);
}
// 下一首
function handleNext() {
  handlePrevNextBind(store.playNext);
}

// 进度条
const progress = ref<HTMLDivElement>();
// 单击进度条事件
function handleChangeTime (e: MouseEvent) {
  if ((e.target as HTMLElement).className !== 'progress-body') return;
  // 取进度条在网页宽度
  const progressDivWidth = progress.value?.clientHeight as number;
  // 计算点击后的时间进度
  const mTime = (e.offsetX / progressDivWidth) / 100 * <any>props.time.end.toFixed(2);
  emits('action-handle-change-time', mTime);
}

</script>

<style lang="less" scoped>
.control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 0 0 auto;
  margin-bottom: 4rem;
  width: 100%;

  .progress {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;

    .progress-body {
      position: relative;
      margin-bottom: 1rem;
      width: 70%;
      height: 4px;
      border-radius: 2px;
      background-color: rgba(v-bind('props.themeColor[0]'), v-bind('props.themeColor[1]'), v-bind('props.themeColor[2]'), .2);
      cursor: pointer;
      line-height: 1;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: v-bind(currentTime);
        height: 4px;
        background-color: var(--themeColor);
        border-radius: 2px 0 0 2px;
      }
      .progress-dot {
        position: absolute;
        top: 50%;
        left: v-bind(currentTime);
        transform: translate(-50%, -50%);
        width: 0px;
        height: 0px;
        border-radius: 50%;
        background-color: var(--themeColor);
        transition: width .3s ease-in-out,
                    height .3s ease-in-out,
                    background-color .3s ease-in-out;
      }
      &:hover {

        .progress-dot {
          width: 12px;
          height: 12px;
        }
      }
    }

    .progress-time {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70%;
      font-size: .8rem;
      color: var(--themeColor);
      opacity: .5;
    }
  }
  .icon {
    color: #fff;
  }
  button {
    background-color: transparent;
    outline: 0;
    border: none;
    border-radius: unset;
    padding: unset;
    line-height: 1;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &.switch {
      font-size: 4rem;

      .icon {
        color: var(--themeColor);
        transition: color .3s ease-in-out;
      }
      &:hover {
        filter: brightness(120%);
      }
    }
    &.play {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 3rem;
      font-size: 2.5rem;
      line-height: 1;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: var(--themeColor);

      &:hover {
        box-shadow: 0 5px 10px var(--themeColor);
      }
    }
  }
}
</style>