<template>
  <div class="playing" :style="`--scale: ${props.scale}`">
    <Cover
      class="play-cover"
      :song="props.song"
      :url="props.url"
      :width="props.url ? props.width : `max(240px, calc(${noImageWidth}vh * (1 / 2)))`"
    >
      <div class="play-cover-info">
        <div class="play-cover-song">{{ props.song }}</div>
        <div class="play-cover-singer">{{ props.singer }}</div>
      </div>
    </Cover>
    <img
      class="background"
      :class="{playing: props.playing}"
      :src="props.url"
      :alt="props.song"
      :style="`--width: ${props.shadowWidth}`"
      v-if="props.url"
      ref="coverRef"
      crossorigin="anonymous"
    />
  </div>
</template>

<script lang="ts" setup>
import { computed, ref, watchEffect } from 'vue';
import ColorThief from 'colorthief';
import Cover from './Cover.vue';

interface Props {
  song: string,
  singer: string,
  url?: string,
  width: string,
  shadowWidth: string,
  scale: string,
  playing: boolean
}
const props = withDefaults(defineProps<Props>(), {
  url: undefined
});
const emits = defineEmits(['action-set-theme-color']);

const noImageWidth = computed(() => props.width.replace('%', ''))

const coverRef = ref<HTMLImageElement>();
let coverBinded = false; // 是否已经添加 load 事件监听
watchEffect(() => {
  if(coverRef.value && !coverBinded) {
    const colorThief = new ColorThief();
    if(coverRef.value.complete) {
      const color = colorThief.getColor(coverRef.value);
      emits('action-set-theme-color', color);
    }
    coverRef.value.addEventListener('load', function() {
      const color = colorThief.getColor(coverRef.value);
      emits('action-set-theme-color', color);
    });
    coverBinded = true;
  }
})
</script>

<style lang="less" scoped>
.playing {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .play-cover {
    transform: scale(var(--scale));
  }
  .background {
    position: absolute;
    width: var(--width);
    border-radius: 50%;
    filter: blur(50px);
    transform: scale(var(--scale));
    z-index: 0;
    transition: all .3s ease-in-out;

    &.playing {
      animation: wobble 5s linear infinite 1s;
    }
  }
  @keyframes wobble{
    0%{
      transform: scale(calc(var(--scale)));
    }
    50%{
      transform: scale(calc(var(--scale) - 0.2));
    }
    100%{
      transform: scale(calc(var(--scale)));
    }
  }

  .play-cover-info {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 10px;
    left: 50%;
    padding: 8px 20px;
    max-width: calc(var(--width) - 20px);
    min-width: 200px;
    border-radius: 10px;
    color: #ddd;
    background-color: rgba(0, 0, 0, .15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, .2);
    transform: translateX(-50%);

    .play-cover-song {
      color: #eee;
      flex: 1 0 auto;
      font-size: 1.2rem;
      font-weight: bold;
      line-height: 1.4;
    }
  }
}
</style>