<script setup lang="ts">
import { computed, nextTick, reactive, Ref, ref, watch, watchEffect } from 'vue';
import { usePlayerStore } from './stores/player';
import { useToastStore } from './stores/toast';
import List from './components/List.vue';
import PlayCover from './components/PlayCover.vue';
import Toast from './components/Toast/Toast.vue';
import PlayController from './components/PlayController.vue';

// 获取播放器状态管理器
const playerStore = usePlayerStore();
// Toast Store
const toast = useToastStore();
// 获取歌单列表
playerStore.getList();
// 计算当前播放位置
const currentIndex = computed(() => playerStore.currentIndex);
// 获取播放列表
const getList = (index: number = currentIndex.value) => {
  // 从状态管理器中抽离当前播放位置之前的歌
  return playerStore.currentlist.filter((i, k) => k > index);
};
const list = reactive<SongList>(getList());
// 监听播放位置变化改变播放列表
watch(() => playerStore.currentIndex, (newValue) => {
  list.splice(0, list.length);
  getList(newValue).map((item) => {
    list.push(item);
  });
});
// 初始化播放器
const playState = computed(() => playerStore.playing);
// 播放状态
const isPlaying = computed(() => playState.value == 'playing' ? true : false);
// 当前播放资源
const playSource = computed(() => playerStore.playSource);

// 播放列表弹出显示
const listShow = ref(false);
function handleListShow(value = false) {
  listShow.value = value;
}

// 主题色
const themeColor = ref<Array<number>>([0, 0, 0]);
function setThemeColor(color: Array<number>) {
  themeColor.value = color
}

// audio ref管理
const mp3 = ref<HTMLAudioElement>();
const time = reactive({
  start: 0,
  end: 0
});
mp3.value?.duration
const mp3CanPlay = ref(false);
let mp3Binded = false;
// 检测 audio 是否已经绑定事件
watchEffect(() => {
  if (mp3.value && !mp3Binded) {
    addListener(mp3.value);
    mp3Binded = true;
  }
});
// 添加 Audio 事件监听
function addListener(audio: HTMLAudioElement) {
  audio.addEventListener('canplay', () => {
    mp3CanPlay.value = true;
    // 如果正在播放状态
    checkPlayState();
  });
  audio.addEventListener('error', () => {
    mp3CanPlay.value = false;
    if (playState.value == 'playing') {
      toast.pushMessage({
        type: 'error',
        text: '播放失败'
      });
      playerStore.setPlayerState('stop');
    }
  });
  audio.addEventListener('play', () => {
    playerStore.setPlayerState('playing');
  });
  audio.addEventListener('pause', () => {
    playerStore.setPlayerState('pause');
  });
  audio.addEventListener('ended', () => {
    playerStore.playNext();
    playerStore.setPlayerState('playing');
  });
  audio.addEventListener('loadedmetadata', () => {
    time.start = mp3.value?.currentTime as number;
    time.end = mp3.value?.duration as number;
  });
  audio.addEventListener('timeupdate', () => {
    time.start = mp3.value?.currentTime as number;
  });
}

function checkPlayState() {
  if (playState.value == 'playing') {
    nextTick(() => {
      handlePlay();
    })
  }
}

// audio 时间
function handleChangeTime(time: number) {
  (mp3.value as HTMLMediaElement).currentTime = time;
  checkPlayState();
}

// 播放音乐
async function handlePlay() {
  if (!mp3CanPlay) return;
  try {
    await mp3.value?.play();
  } catch(e) {
    toast.pushMessage({
      type: 'error',
      text: (e as Error).message
    });
  }
}
// 暂停音乐
function handlePause() {
  if (!mp3CanPlay) return;
  mp3.value?.pause();
}

</script>

<template>
  <audio 
    id="mp3"
    :src="playSource.url"
    ref="mp3"
  ></audio>
  <PlayCover
    :song="playSource.name"
    :singer="playSource.singer"
    :url="playSource.album"
    :width="`70%`"
    :shadow-width="`80%`" 
    :scale="isPlaying ? '1' : '0.8'"
    @action-set-theme-color="setThemeColor"
    :playing="isPlaying"
  ></PlayCover>
  <PlayController 
    :time="time"
    :is-playing="isPlaying"
    :theme-color="themeColor"
    :mp3="mp3"
    :mp3-canplay="mp3CanPlay"
    @action-handle-play="handlePlay"
    @action-handle-pause="handlePause"
    @action-handle-change-time="handleChangeTime"
  ></PlayController>
  <div class="more">
    <button class="more-button" @click="e => handleListShow(true)">播放列表</button>
  </div>
  <List
    :list="list"
    :show="listShow"
    @action-list-hide="handleListShow"
    @action-handle-play="handlePlay"
  />
  <Toast />
</template>

<style lang="less" scoped>
#mp3 {
  display: none;
}
.more {
  margin-bottom: 4rem;

  &-button {
    background-color: transparent;
    outline: 0;
    border: none;
    border-radius: 3px;
    padding: 3px;
    color: #333;
    line-height: 1;
    cursor: pointer;

    &:hover {
      background-color: rgba(0 0 0 / .1);
    }
  }
}


</style>
