:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

a {
  text-decoration: inherit;
}
a:hover {
  text-decoration: none;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: max(320px, calc(100vh * (9 / 16)));
  max-width: max(320px, calc(100vh * (9 / 16)));
  min-height: 90vh;
  max-height: 90vh;
  margin: 0 auto;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0 0 0 / 10%);
  overflow: hidden;
}
